@model newProject01.Models.Card
@{
    ViewBag.Title = "修改介面";
}

<h2>EdidCard</h2>

<form method="post" action="/Home/EdidCard">

    工作事項<input name="name" value="@Model.Name" />
    <input class="btn btn-default" type="submit" value="修改" />
</form>
