
@font-face {
	font-family: "BigTitle";
	src: url('/Content/Font/Demo Balnes.ttf');
}

body {
	background-image: url('/Content/image/1.jpg');
	margin: 0;
	
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
}

.MyTitle {
	font-family: "BigTitle";
	font-size: calc(25rem + 0.44vw);
}
#midBox {
	font-weight: bold;
	background-color: rgb(0, 0, 0,0.5);
}
